*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}

.results{
    border: none;
    outline: none;
    padding: 1em;
    border-radius: 3px;
    background-color:  rgb(0, 153, 255);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
   
}
button{
    margin-top: 25px;
}
body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}